{% extends "../booking/base.html" %}
{% load static %}

{% block link %}
<link rel="icon" type="" href="{% static 'menu/img/ico/gome_gr.png' %}">
<title>Sign in</title>
{% load static %}
<link rel="stylesheet" href="{% static 'account/css/sign_in.css' %}">
{% endblock %}


{% block content %}

<div class="register-container row">
    <div class="form-title">
        <h2 class="form-header">Sign in</h2>
        <h5 class="form-desctiption">
            Enter to your account. It takes only a minute
        </h5>
    </div>

    <form action="" method="post" class="form-container col s12 m8 l6">
        {% csrf_token %}
        <div class="search-tickets-container row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <label for="{{form.username.id_for_label}}">User name</label>
                {{form.username}}
                <div class="form-error">
                    {{form.username.errors}}
                </div>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">password</i>
                <label for="{{form.password.id_for_label}}">Password</label>
                {{form.password}}
                <div class="form-error">
                    {{form.password.errors}}
                </div>
            </div>
            <div class="register-btn col s12">
                <button type="submit" name="submit_button" class="btn btn-success btn-block ">Sign in</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}