:root {
    --color-white: #ffffff;
    --color-ligth-white: #ffffffbb;
    --color-dark: #111111;
    --color-ligth-green: rgba(2, 192, 130, .75);
    --color-red: rgb(231, 55, 42);
}

.choose-railcar-container {
    background-color: var(--color-ligth-green);

    padding: 30px;
    margin-bottom: 20px;
    border-radius: 15px;

    color: var(--color-white);
}

.railcar-container {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    display: flex;
    overflow-y: scroll;
    flex-wrap: nowrap;
}

.choosed-railcar {
    border: 4px solid var(--color-red) !important;
}

.railcar {
    width: 200px;
    position: relative;
    display: inline-block;
    background-color: var(--color-ligth-white);
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
    border: 2px solid var(--color-ligth-green);
    cursor: pointer;
}

.railcar:hover {
    background-color: var(--color-white);
}

.railcar-number {
    position: absolute;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    top: -10px;
    left: -10px;
    background-color: var(--color-dark);
}

.railcar-img {
    width: 100px;
    height: auto;
}

.input-container {
    display: flex;
    justify-content: center;
}

.choose-title {
    color: var(--color-dark);
    font-size: 15px;
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 10px;
}


.choose-railcar-form {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    color: var(--color-dark);
    font-size: 15px;
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 10px;
}