:root {
    --color-white: #ffffff;
    --color-ligth-white: #ffffffbb;
    --color-dark: #111111;
    --color-ligth-green: rgba(2, 192, 130, .75);
}

.container-verifi {
    margin: 0 auto;

    width: 50%;

    border-radius: 20px;

    padding: 20px;
    background-color: var(--color-ligth-white);

    color: var(--color-dark);
}

@media (max-width: 600px) {
    .container-verifi {
        width: 90%;
    }
}

.container-verifi-header {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.container-verifi-code {
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
}

.verifi-form {
    margin-top: 20px;
}

input[type="text"]:not(.browser-default) {
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
}