{% extends "../booking/base.html" %}
{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'base/css/about.css' %}">
{% endblock %}


{% block content %}
<section class="container">
   <div class="page-footer">
      <div class="row">
         <div class="l12 s12">
            <div>
               <h4 class="white-text">BOOKING™ train tickets</h5>
                  <p class="grey-text text-lighten-4">If you have to go far or close distance, then PROIZD™ is a service
                     for buying railway tickets to Ukrzaliznytsia - what you need. Without a trip to the ticket office.
                     Without standing in line.
                     <br />Simply. Quickly. Available.
                  </p>
            </div>
            
            <div>
               <h4 class="white-text">Order BOOKING™ train tickets</h5>
                  <p class="grey-text text-lighten-4">
                     Use the service to purchase travel documents for trains is because it is:
                  </p>              
                  <ul class="collection">
                     <li class="collection-item">convenient. To buy a train ticket, the client does not need to go to the train station, take into account the waiting time in the queue and reshape the entire working day;</li>
                     <li class="collection-item">modern. The client can buy train tickets without contacting the cashier or managers. A simple menu, easy navigation and site prompts allow you to choose the direction, date, train number, car type and location. An ideal way for forever busy and those who do not wish to distract colleagues with talking and calls;</li>
                     <li class="collection-item">popular. Train tickets to buy online with the service mega convenient. We show the most popular destinations and trains. And our clients themselves add feedback on the service;</li>
                     <li class="collection-item">with support. If you have problems when ordering train tickets online, then dial the contact phone number or write to the support service in a special window of the site;</li>
                     <li class="collection-item">without financial losses. With PROIZD™, a client can not only buy Ukrzaliznytsya train tickets, but also return a ticket, having received the sum of the cost. To do this, the return period must be up to 50 minutes after ordering. If more than 50 minutes have passed, but no later than 24 hours before the departure of the train, the commission will be minimized from the ticket price. </li>
                  </ul>         
            </div>

            <div>
               <h4 class="white-text">The ability to buy train tickets online will appreciate:</h5>
                  <ul class="collection">
                     <li class="collection-item">business people, often traveling on business trips;</li>
                     <li class="collection-item">students. You can even buy a train ticket online for a couple;</li>
                     <li class="collection-item">mothers on maternity leave. No need to change the usual schedule. Booking office with online train tickets already in the phone; </li>
                     <li class="collection-item">office staff. Booking a train ticket online is real at any time of the day without leaving the office. </li>
                  </ul> 
            </div>

            <div>
               <h4 class="white-text">Railway ticket office, which is in your phone 24/7</h5>
                  <p class="grey-text text-lighten-4">If, for various reasons, the trip is canceled, then with BOOKING™ you can actually get a refund. Within 50 minutes after the payment of tickets, you can cancel them in the Cabinet and the amount of the payment will be credited to the account in full. This service will not get in the ordinary box office!
                  </p>
            </div>

            <div>
               <h4 class="white-text">Personal cashier in the phone</h5>
                  <p class="grey-text text-lighten-4">Buying a train ticket online in Ukraine with BOOKING™ is easy. The site works on desktop, tablet, phone. Any gadget with mobile or network Internet will allow you to buy a train ticket in minutes. Though at 3 o'clock in the morning on Monday, even at the height of the working day, without leaving the office. <br/>If you have to go, that is, BOOKING™. Fast, modern, profitable!
                  </p>
            </div>

         </div>
      </div>
   </div>
</section>
{% endblock content %}