<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Booking</title>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% load static %}
	<link rel="icon" type="image" href="{% static 'base/img/favicon.png' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'base/css/materialize.min.css' %}"
		media="screen,projection" />
	<link rel="stylesheet" href="{% static 'base/css/base.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'base/css/testimonials.css' %}"> -->

	{% block link %}

	{% endblock %}
</head>

<body>
	<header>
		<nav class="nav-container">
			<div class="container top-bar-container">
				<a href="{% url 'home' %}" class="logo-container">
					<div class="logo-icon-container">
						{% load static %}
						<img class="logo-icon" src="{% static 'base/img/favicon.png' %}" alt="Train">
					</div>
					<h1>
						<span class="logo-title logo-title-bold">BOO</span>
						<span class="logo-title">KING</span>
					</h1>
				</a>
				<div class="nav-burger-menu">
					<span class="nav-burger-menu-row"></span>
					<span class="nav-burger-menu-row"></span>
					<span class="nav-burger-menu-row"></span>
				</div>
				<ul class="nav-list">
					<li class="nav-list-item">
						<a href="{% url 'about_view' %}">About</a>
					</li>
					<li class="nav-list-item">
						<a href="{% url 'testimonials_view' %}">Testimonials</a>
					</li>
					<li class="nav-list-item">
						<a href="{% url 'features_view' %}">Features</a>
					</li>
					<li class="nav-list-item">
						<a href="{% url 'team_view' %}">Team</a>
					</li>
					<li class="nav-list-item">
						<a href="{% url 'pricing_view' %}">Pricing</a>
					</li>
					<li class="nav-list-item">
						<a href="{% url 'contacts_view' %}">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">

		<div class="search-tickets-title">
			<h1>search your tickets online</h1>
		</div>

		{% block content %}

		{% endblock content %}
	</div>
	{% load static %}
	<script src="{% static 'base/js/materialize.min.js' %}"></script>
	<script src="{% static 'base/js/base.js' %}"></script>
	<script src="{% static 'search_ticket/js/home_page.js' %}"></script>
	<script src="{% static 'base/js/testimonials.js' %}"></script>
</body>

</html>	