<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Booking</title>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% load static %}
	<link rel="icon" type="image" href="{% static 'base/img/favicon.png' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'base/css/materialize.min.css' %}"
		media="screen,projection" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static 'base/css/base.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'base/css/testimonials.css' %}"> -->

	{% block link %}

	{% endblock %}
</head>

<body>
	<header>
		<nav class="nav-container">
			<div class="container top-bar-container">
				<a href="{% url 'home' %}" class="logo-container">
					<div class="logo-icon-container">
						{% load static %}
						<img class="logo-icon" src="{% static 'base/img/favicon.png' %}" alt="Train">
					</div>
					<h1>
						<span class="logo-title logo-title-bold">BOO</span>
						<span class="logo-title">KING</span>
					</h1>
				</a>
				<div class="nav-burger-menu" id="nav-burger-menu">
					<span class="nav-burger-menu-row"></span>
					<span class="nav-burger-menu-row"></span>
					<span class="nav-burger-menu-row"></span>
				</div>
				<ul class="nav-list" id="nav-list">
					<li class="nav-list-item">
						<a href="{% url 'about_view' %}">About</a>
					</li>
					<li class="nav-list-item">
						<a href="{% url 'testimonials_view' %}">Testimonials</a>
					</li>
					<li class="nav-list-item">
						<a href="{% url 'features_view' %}">Features</a>
					</li>
					<li class="nav-list-item">
						<a href="{% url 'team_view' %}">Team</a>
					</li>
					<li class="nav-list-item">
						<a href="{% url 'contacts_view' %}">Contact</a>
					</li>
					<li class="nav-list-item">
						<a href="{% url 'all_tickets' %}">My Tickets</a>
					</li>
					<li class="nav-list-item">
						<div class="account">
							{% if request.user.is_authenticated %}
								<a class="account-action" href="{% url "logout" request.user.username %}">Logout</a> 
							{% else %}
								<div class="account-action">
									<a href="{% url "sign_in" %}">Login</a>
									<a href="{% url "register" %}">Register</a>
								</div>
							{% endif %}
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>



	<div class="container">

		<div class="search-tickets-title">
			<h1>search your tickets online</h1>
		</div>
		<div class="messages" id="messages">
			{% if messages %}
			{% for message in messages %}
			{% if message.tags == 'error' %}
			<div class="alert alert-danger" style="color:red;" role="alert">
				{{message}}
			</div>
			{% elif message.tags == 'critical' %}
			<div class="alert alert-primary" role="alert">
				{{message}}
			</div>
			{% else %}
			<div class="alert alert-success" style="color:green;" role="alert">
				{{message}}
			</div>
			{% endif %}
			{% endfor %}
			{% endif %}
		</div>

		{% block content %}

		{% endblock content %}

		<ul class="collapsible collapsible-text">
			<li>
				<div class="collapsible-header">
					<i class="material-icons">warning</i>
					Important info
				</div>
				<div class="collapsible-body">
					<span>According to the decree of the Cabinet of Ministers of Ukraine to board any train starting
						from 21.10.2021 all passengers over 18 years of age need to provide vaccination certificate or
						COVID-19 negative test (valid for 72 hours) or COVID-certificate of recovery (using the
						application Diia only) .
						Additional requirements for foreign travelers may apply.
						Let's care about each other's safety!
						<br><br>
						Tickets purchased online (if the ticket was not printed out at the railway ticket office) can be
						returned
						in the "Ticket return" section of the users account after the registration.
						<br><br>
						Payments for the returned electronic tickets are automatically refunded to a bank card within a
						30 days period.
						Here you can buy tickets for 1000 UAH of state aid for vaccinated citizens!</span>
				</div>
			</li>
		</ul>
	</div>
	{% load static %}
	<script src="{% static 'base/js/materialize.min.js' %}"></script>
	<script src="{% static 'base/js/base.js' %}"></script>
	<script src="{% static 'search_ticket/js/home_page.js' %}"></script>
	<script src="{% static 'base/js/testimonials.js' %}"></script>
	<script src="{% static 'order_ticket/js/choose_place.js' %}"></script>
	<script src="{% static 'order_ticket/js/order_seat.js' %}"></script>
	<script src="{% static 'order_ticket/js/order_ticket.js' %}"></script>
	<script src="{% static 'order_ticket/js/order_train.js' %}"></script>
	
</body>

</html>