{% extends "../booking/base.html" %}
{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'base/css/contacts.css' %}">
{% endblock %}


{% block content %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Frequently asked questions</h5>
                <p class="grey-text text-lighten-4">Frequently asked questions with short answers.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact us</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3 contact-container" href="https://bit.ly/3Eod9KF"><i
                                class="small material-icons">place</i>
                            <div class="contact-container-item">
                                <p>
                                    1A Sportyvna square
                                </p>
                                <p>
                                    Kiev, Ukraine, 01023
                                </p>
                            </div>
                        </a></li>
                    <li><a class="grey-text text-lighten-3 contact-container" href="#!"><i
                                class="small material-icons">call</i>
                            <div class="contact-container-item">
                                <p>
                                    38 (044) 222-71-77
                                </p>
                                <p>
                                    Calls are made according to the tariffs of your cell operator
                                </p>
                            </div>
                        </a></li>
                    <li><a class="grey-text text-lighten-3 contact-container" href="mailto:bookingdjangokpi@gmail.com"><i
                                class="small material-icons">email</i>
                            <div class="contact-container-item">
                                <p>
                                    bookingdjangokpi@gmail.com
                                </p>
                                <p>
                                    Email
                                </p>
                            </div>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 KPI
        </div>
    </div>
</footer>
{% endblock content %}