:root {
    --color-white: #ffffff;
    --color-ligth-white: #ffffffbb;
    --color-dark: #111111;
    --color-ligth-green: rgba(2, 192, 130, .75);
    --color-red: rgb(231, 55, 42);
    --color-sky: #F9FBFD;
    --color-ligth-sky: #f9fbfd9d;
}

.register-container {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search-tickets-container {
    margin: 0 auto;
    background-color: var(--color-ligth-green);
    padding: 50px;
    border-radius: 15px;
    position: relative;
}

.input-field>label {
    color: var(--color-white);
    font-weight: 700;
}

.form-title {
    width: 70%;
    background-color: var(--color-ligth-sky);

    border-radius: 20px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 20px;

    color: var(--color-dark);

    text-align: center;
}

.form-header {
    font-size: 35px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}

.form-container {
    margin: 0 auto;
}

.register-btn {
    margin: 0 auto;
}

.input-field .prefix.active {
    color: var(--color-dark);
}

@media (max-width: 700px) {
    .form-header {
        font-size: 30px;
    }

    .form-desctiption {
        font-size: 17px;
    }

    .search-tickets-container {
        padding: 25px;
    }
}