{% extends "../booking/base.html" %}


{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'search_ticket/css/home_page.css' %}">
{% endblock %}


{% block content %}

{% csrf_token %}
<div class="row search-tickets-container">
    <form class="col s12">
        <div class="input-field col s4">
            <label for="{{form.start_point.id_for_label}}" class="active">From</label>
            {{form.start_point}}
            <div class="form-error">
                {{form.start_point.errors}}
            </div>
        </div>

        <div class="input-field col s4">
            <label for="{{form.end_point.id_for_label}}" class="active">To</label>
            {{form.end_point}}
            <div class="form-error">
                {{form.end_point.errors}}
            </div>
        </div>

        <div class="input-field col s4">
            <input id="signup-birthday" type="text" class="datepicker">
            <label class="active" for="signup-birthday">Date</label>
            <!-- {{form.end_point}} -->
            <div class="form-error">
                {{form.end_point.errors}}
            </div>
        </div>

        <div class="search-btn">
            <button type="submit" name="submit_button" class="btn waves-effect waves-light btn-large">Find route</button>
        </div>

    </form>
</div>
{% endblock content %}