{% extends "../booking/base.html" %}


{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'order_ticket/css/choose_place.css' %}">
{% endblock %}

{% block content %}
<div class="choose-railcar-container">
  <p class="choose-title">
    Choose railcar:
  </p>
  <div class="railcar-container">
    {% for elem in railcars %}
    <div class="railcar">
      <span class="railcar-number" id="railcar-number">
        {{elem}}
      </span>
      {% load static %}
      <img class="railcar-img" src="{% static 'order_ticket/img/tram.png' %}" alt="Railcar">
    </div>
    {% endfor %}
  </div>

  <form action="{% url 'order_railcar' start end route_slug train %}" method="POST" class="choose-railcar-form">
    {% csrf_token %}
    <div class="input-container row">
      <label class="" for="choose-railcar">Choosed railcar:</label>
      <input type="text" name="railcar" id="choose-railcar" class="col s6">
      <button type="submit" class="waves-effect waves-light btn col s4">submit</button>
    </div>
  </form>
  {# <a href="{% url 'order_railcar' route_slug  %}">BUTTON</a> #}
</div>
{% endblock content %}