{% extends "../booking/base.html" %}


{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'order_ticket/css/order_seat.css' %}">
{% endblock %}

{% block content %}
<p class="railcar-title">
  Railcar-scheme
</p>
<div class="container railcar-scheme">
  {% load static %}
  <img class="railcar-img" src="{% static 'order_ticket/img/railcar.png' %}" alt="Railcar">
</div>

<div class="choose-railcar-container">
  <p class="choose-title">
    Choose seat:
  </p>
  <div class="railcar-container">
    {% for elem in seats %}
    <div class="seat">
      <span class="seat-number" id="seat-number">
        {{elem}}
      </span>
    </div>
    {% endfor %}
  </div>
  <form action="{% url 'order_seat' start end route_slug train railcar  %}" method="POST" class="choose-railcar-form">
    {% csrf_token %}
    <div class="input-container row">
      <label class="col s4" for="choose-seat">Choosed seat:</label>
      <input type="text" name="seat" id="choose-seat" class="col s4">
      <button type="submit" class="waves-effect waves-light btn col s4" id="send-seat-btn">submit</button>
    </div>
  </form>
  {# <a href="{% url 'order_railcar' route_slug  %}">BUTTON</a> #}
</div>
{% endblock content %}