:root {
    --color-white: #ffffff;
    --color-dark: #111111;
    --color-green: rgba(2, 192, 130, .75);
}

.page-footer {
    border-radius: 20px;
    background-color: var(--color-green);
}

.contact-container {
    display: flex;
    align-items: center;
}

.contact-container-item {
    margin-left: 10px;
}